body {
    padding: 0px;
    overflow: hidden;
    background-image: url("redplanet.jpg");
    background-size: cover;
}

input {
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    color: white;
}

.header_title {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 5px;
    margin-top: -10px;
}

.panel {
    opacity: 1.0;
    position: fixed;
    padding: 10px;
    color: white;
    border-radius: 8px;
    cursor: default;
    background-image: url("redplanet.jpg");
}

.right_panel {
    width: 250px;
    right: 5px;
    top: 350px;
}

#algorithm_panel {
    right: 5px;
    top: 90px;
}

.option_label {
    cursor: pointer;
}

button {
    border: none;
    background: white;
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
    padding-bottom: 0px;
    margin: 0 2%;
    width: 28%;
    color: rgba(0, 0, 0);
    text-align: center;
}

button:hover {
    background: rgba(255, 255, 255, 0.9);
    color: black;
}


#defaultCanvas0 {
    margin-top: 20px;
    margin-left: 1%;
}

#heading {
    text-align: center;
    margin: 6px;
    padding-right: 130px;
}

#cll1 {
    display: none;
    position: absolute;
    width: 29px;
    height: 29px;
    border: 2px dashed #008000;
    /*animation: animate 2s linear infinite;*/
    box-sizing: border-box;
    transition: 0s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: #00FF00;
}

#cll2 {
    display: none;
    position: absolute;
    width: 29px;
    height: 29px;
    border: 2px dashed #8B0000;
    /*animation: animate 2s linear infinite;*/
    box-sizing: border-box;
    transition: 0s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: #FF0000;
}

#energy {
    display: flex;
}

#myProgress {
    margin-left: 0%;
    width: 50%;
    background-color: white;
    height: 2.3em;
    border-radius: 1.5em;
}

#myBar {
    width: 0%;
    height: 2.3em;
    border-radius: 1.5em;
    /*background-color: #ADFF2F;*/
}

#butt{
    margin-left: 15px;
}